*{
    margin:0%;
    padding:0%;
}
html{
    background: rgb(73,45,168);
background: -moz-linear-gradient(90deg, rgba(73,45,168,1) 50%, rgba(208,154,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(73,45,168,1) 50%, rgba(208,154,255,1) 100%);
background: linear-gradient(90deg, rgba(73,45,168,1) 50%, rgba(208,154,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#492da8",endColorstr="#d09aff",GradientType=1);
}

body{   
    margin: 5% 10%;
}

header{
    background-color: #bef620;
    font-family: 'Rubik', sans-serif;
    padding: 2%;
    border-radius: 20px;
}

section{
    padding: 7%;
    margin-top: 2%;
    background-color: #fff9f0;
    border-radius: 20px;
}

h2{
    color: #492da8;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding-top: 2%;
}
h3{
    color: #492da8;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 1%;
}

button {
    -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  background: #d09aff;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 0px;
  text-decoration: none;
  }
  
  button:hover {
    background: #bef620;
    text-decoration: none;
  }

#answer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#answer input{
    width:10%;
    min-height: 50px;
    border-radius: 10px;
    border-color: #bef620;
    text-align: center;
    margin-right: 1%;
    
    
    
}
#contador{
    margin-top: 2%;
    background-color: #fff9f0;
    border-radius: 20px;
    text-align: center;
}