*{
    margin:0%;
    padding:0%;
}
html{
    background: rgb(73,45,168);
background: -moz-linear-gradient(90deg, rgba(73,45,168,1) 50%, rgba(208,154,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(73,45,168,1) 50%, rgba(208,154,255,1) 100%);
background: linear-gradient(90deg, rgba(73,45,168,1) 50%, rgba(208,154,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#492da8",endColorstr="#d09aff",GradientType=1);
}

body{   
    margin: 5% 10%;
}

header{
    background-color: #bef620;
    font-family: 'Rubik', sans-serif;
    padding: 2%;
    border-radius: 20px;
}

section{
    padding: 7%;
    margin-top: 2%;
    background-color: #fff9f0;
    border-radius: 20px;
}

h2{
    color: #492da8;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding-top: 2%;
    font-size: 20px;
}
h3{
    color: #492da8;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 15px;
}

select{
    width: 50%;

}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  background: #492da8;
  padding: 10px 20px 10px 20px;
  border: solid #492da8 0px;
  text-decoration: none;
  margin-top: 5%;
  }
  
  button:hover {
    background: #bef620;
    text-decoration: none;
  }

#answer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#answer select{
    width:10%;
    min-height: 50px;
    border-radius: 10px;
    border-color: #bef620;
    text-align: center;
    margin-right: 1%; 
}
#contador{
    margin-top: 2%;
    background-color: #fff9f0;
    border-radius: 20px;
    text-align: center;
}

#showAnswers{
 margin-top: 2%;
    background-color: #fff9f0;
    border-radius: 20px;
    text-wrap: wrap;
    padding-left: 4%;
    
}





#azul{
    background-color: blue;
    color:#ffffff;
    font-size: 10px;
}
#verde{
    background-color: green;
    font-size: 10px;
}
#amarillo{
    background-color: yellow;
    font-size: 10px;
}
#negro{
    background-color: black;
    font-size: 10px;
}
#rojo{
    background-color: red;
    font-size: 10px;
}
#marron{
    background-color: rgb(73, 9, 9);
    font-size: 10px;
}
#violeta{
    background-color: rgb(145, 30, 145);
    font-size: 10px;
}
#rosa{
    background-color: rgb(255, 144, 162);
    font-size: 10px;
}
#naranja{
    background-color: orange;
    font-size: 10px;
}
#amarillo{
    background-color: yellow;
    font-size: 10px;
}

